@charset "UTF-8";
#pagination {
  display: flex;
  margin-right: 10px;
}
#pagination .pages {
  margin-top: 13px;
}
#pagination .page-numbers{
  display: flex;
}
#pagination .page-numbers li{
  padding-left: 10px;
}