@charset "UTF-8";
/**
* update
**/
section .desc {
  position: absolute;
  width: 82%;
  /* padding-bottom: 20px;
  padding-top: 20px;*/
  top: 20%;
  left: 13%;
  text-align: left;
  overflow: auto;
  padding-right: 16px;
  font-size: 1.2em;
  }
  @media (min-width: 375px) {
    section .desc {
      top: 17%;
      font-size: 1.3em;
    }
  }
  @media (min-width: 768px) {
    section .desc {
      width: 79%;
      top: 10%;
      left: 14%;
    }
  }
  @media (min-width: 800px) {
    section .desc {
      width: 83%;
      top: 10%;
      left: 11%;
      font-size: 1.6em;
    }
  }
  @media (min-width: 1200px) {
    section .desc {
      width: 69%;
      top: 9%;
      left: 18%;
    }
  }
  @media (min-width: 1600px) {
    section .desc {
      width: 60%;
      top: 9%;
      left: 22%;
    }
  }
  @media (min-width: 1900px) {
    section .desc {
      width: 53%;
      top: 12%;
      left: 25%;
    }
  }
#about .vid-wrap {
  width: 80%;
  margin: auto;
}
.register-btn {
  width: 50%;
  float: right;
  cursor: pointer;
  animation: 1.8s _buyBtnAnm linear infinite;
  }
  @media (min-width: 768px) {
    .register-btn {
      width: 70%;
    }
  } 
  @media (min-width: 1024px) {
    .register-btn {
      width: 50%;
    }
  }
  @media (min-width: 1920px) {
    .register-btn {
      width: 75%;
    }
  }
.header-wrapper li a img {
  width: 50%;
  }
  @media (min-width: 768px) {
    .header-wrapper li a img {
      width:60%;
    }
  }
  @media (min-width: 1200px) {
    .header-wrapper li a img {
      width:75%;
    }
  }
/**
* animation button
*/
.view-btn, .yt { transition: all .2s ease-in-out; }
.view-btn:hover, .yt:hover { transform: scale(1.05); }

.yt, .fb { transition: all .2s ease-in-out; }
.yt:hover, .fb:hover { transform: scale(1.1); }

.icon {
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {right: 0px;}
  to {right: 25px;}
}

@keyframes mymove {
  from {right: 0px;}
  to {right: 25px;}
}

#thu-vien-bai-thi {
  padding-bottom: 20px;
}
.wrapper-ecom {
    float: left;
    display: flex;
  }
  @media (min-width: 768px) {
    .wrapper-ecom {
      float: right;
    }
  }
.wrapper-ecom li {
  float: left;
  margin-left: 0.5em; }
  @media (min-width: 320px) {
    .wrapper-ecom li {
      margin-left: -1.5em;
    }
  }
  @media (min-width: 768px) {
    .wrapper-ecom li {
      margin-left: .5em; } }
      .wrapper-ecom li:first-child {
        margin-left: 0 !important; 
      }
    .wrapper-ecom li a {
      display: block;
      width:65%;
      overflow: hidden; 
    }
    @media (min-width: 768px) {
      .wrapper-ecom li a {
        width:75%;
      }
    }
  @media (min-width: 992px) {
    .wrapper-ecom li {
      margin-left: -1.5em;
    }
  }
.wrapper-ecom li a:hover {
  transform: scale(1.05);
}

.p-ecom {
  position: relative;
  float: left;
  left: 0;
  padding-top: 2em;}
  @media (min-width: 768px) {
    .p-ecom {
      left: 8%;
    }
  }
  @media (min-width: 992px) {
    .p-ecom {
      left: 15%;
    }
  }
  @media (min-width: 1440px) {
    .p-ecom {
      left: 20%;
    }
  }
  @media (min-width: 1920px) {
    .p-ecom {
      left: 20%;
    }
  }

.title-ecom {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 800;
  float: left;
  padding-top: 0.2em;}
  @media (min-width: 768px) {
    .title-ecom {
      font-size: 2.1rem;
    }
  }
  @media (min-width: 992px) {
    .title-ecom {
      font-size: 2.2rem;
    }
  }
  @media (min-width: 1024px) {
    .title-ecom {
      padding-top: 0.4em; 
    }
  }
.p-detail__sl {
  font-weight: 800;
  color: red;
}
@media (min-width: 768px) {
  .footer__info {
    padding-top: 5.75em;  
  }
}
@media (min-width: 900px) {
  .footer__info {
    padding-top: 4.9em;  
  }
}
@media (min-width: 1024px) {
  .footer__info {
    padding-top: 4.85em;  
  }
}
@media (min-width: 1366px) {
  .footer__info {
    padding-top: 4.5em;  
  }
}
/* promotion css*/
#thong-tin-giai-thuong {
  overflow: hidden;
}
#thong-tin-giai-thuong .text__detail{
  margin:5rem 2rem auto 2rem;
  font-size:18px; 
  text-align:center;
}
#thong-tin-giai-thuong .text__detail_more{
  margin:5rem 2rem auto 2rem;
  font-size:18px; 
  text-align:left;
}
@media (min-width: 768px) {
  #thong-tin-giai-thuong .text__detail{
    margin:5rem 10rem auto 10rem;
    font-size:20px; 
  }
  #thong-tin-giai-thuong .text__detail_more{
    margin:5rem 10rem auto 10rem;
    font-size:20px; 
  }
}
#thong-tin-giai-thuong .new__button{
  margin-top:5rem;
  border-radius: 20rem;
  border-color: #1665b2;
  background-color: #1665b2;
  color: white;
  font-size: 1.8rem;
  width:25rem;
  min-height:5rem;
  text-transform: uppercase;
  border-style: solid;
}
#thong-tin-giai-thuong .img__detail{
  width: 70%;
  margin-top:5rem;
}

#thong-tin-giai-thuong .button__news{
  margin-top:5rem;
  border-radius: 20rem;
  width:30rem;
  min-height:7rem;
  text-transform: uppercase; 
  color: #259dd2;
  font-size:2rem;
  background-color: transparent/*ccf2fb*/;
  border-color: #259dd2;
  border-style: solid;
}

#thong-tin-giai-thuong .new__button:hover{
  transform: scale(1.2);
}
#thong-tin-giai-thuong .button__news:hover{
  transform: scale(1.2);
}
/* END promotion css*/

/**
* morinaga
*/
.btn-wrap {
  position: absolute;
  bottom: -4%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-55%, -50%);
  -ms-transform: translate(-55%, -50%);
  transform: translate(-55%, -50%); }
  @media (min-width: 414px) {
    .btn-wrap {
      bottom: 0%;
    }
  }
  @media (min-width: 768px) {
    .btn-wrap {
      bottom: 14%;
    } }
  @media (min-width: 1300px) {
    .btn-wrap {
      bottom: 21%;
    } }
.buy-btn {
    display: block;
    position: relative;
    padding: .2em .5em .3em.5em;
    font-size: 1.6em;
    color: #fff;
    -webkit-animation: 1.8s _buyBtnAnm linear infinite;
    animation: 1.8s _buyBtnAnm linear infinite; }
    @media (min-width: 768px) {
      .buy-btn {
        padding: .3em 1em .4em;
        font-size: 2.6em;
      }
    }
    .buy-btn:hover {
      -webkit-animation-play-state: paused;
      animation-play-state: paused; 
      color: #fff;}
    .buy-btn:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #ec2026;
      -webkit-transition: all .2s;
      transition: all .2s;
      border-radius: 25px;
      border: 2px solid #ec2026;
      z-index: -1; }
    .buy-btn:hover:before {
      background: #be0801; }
/**
* start section rule
**/
.wrapper-rule__title img {
  width: 55%;
  position: absolute;
  left: 22%;
  top: 4%;
  }
  @media (min-width: 768px) {
    .wrapper-rule__title img {
      width: 36%;
      position: absolute;
      left: 31%;
      top: 3%;
    }
  }
#wrapper_rule_content {
  height:70%;
  scrollbar-color: #2086bc #ffffff;
  scrollbar-width: auto;
  color: #603813;
  font-weight: 600;
  line-height: 1.6em;
  }
  @media (min-width: 768px) {
    #wrapper_rule_content {
      height:85%;
    }
  }
  @media (min-width: 1200px) {
    #wrapper_rule_content {
      height:80%;
    }
  }
#wrapper_rule_content::-webkit-scrollbar-thumb{
  background-color:#0582c4;
  border-radius:10px;
  -webkit-border-radius: 10px;
  }
  #wrapper_rule_content::-webkit-scrollbar-thumb:hover{
  background-color:#0582c4;
  border:1px solid #2c7297;
  }
  #wrapper_rule_content::-webkit-scrollbar-thumb:active{
  background-color:#0582c4;
  border:1px solid #2c7297;
  } 
  #wrapper_rule_content::-webkit-scrollbar-track{
    border:1px #ffffff solid;
    border-radius:10px;
    -webkit-border-radius:10px;
    -webkit-box-shadow:0 0 6px #ffffff inset;
    } 
  #wrapper_rule_content::-webkit-scrollbar{
    width:10px;
    background-color: #fff;
    border-radius: 25px;
    -webkit-border-radius:25px;
  } 
  .wrapper_rule_content_title {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    }
    @media (min-width: 768px) {
      .wrapper_rule_content_title {
        font-size: 2em;
      }
    }
  .wrapper_rule_content_wrapper-content b {
    font-size:1.1em;
    }
    @media (min-width: 768px) {
      .wrapper_rule_content_wrapper-content b {
        font-size:1.3em;
        }
    }
.content-padding  {
  padding-left: 15px;
}
.content-padding-long  {
  padding-left: 20px;
}
.rule_bold {
  font-size: 1.2em !important;
  font-weight: 900;
}
/**
* end section rule
**/

/**
* start section prize
**/
.wrapper-prize {
  position: relative;
}
.wrapper-prize__title img {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translate(-50%, -3%);
  }
  @media (min-width: 768px) {
    .wrapper-prize__title img {
      width: 35%;
      /*left: 30%;
      top: 3%;*/
    }
  }
  @media (min-width: 1024px) {
    .wrapper-prize__title img {
      width: 38%;
      top: 5%;
    }
  }
  @media (min-width: 1200px) {
    .wrapper-prize__title img {
      width: 30%;
      /*left: 26%;*/
    }
  }
  @media (min-width: 1680px) {
    .wrapper-prize__title img {
      width: 29%;
      /*left: 26%;*/
    }
  }
  @media (min-width: 2560px) {
    .wrapper-prize__title img {
      width: 22%;
      /*left: 26%;*/
    }
  }
.wrapper-prize__picture{
  width: 31%;
  padding-top: 7%;
  padding-bottom: 2%;
  }
  @media (max-width: 480px){
    .wrapper-prize__picture{
      width: 90%;
      padding-bottom: 3%;
      padding-top: 20%;
    }
  }
  @media (min-width: 568px) {
    .wrapper-prize__picture {
      width: 50%;
      padding-top: 15%;
    }
  }
  @media (min-width: 768px) {
    .wrapper-prize__picture {
      width: 62%;
      padding-top: 8%;
    }
  }
  @media (min-width: 1024px){
    .wrapper-prize__picture{
      width: 25%;
      padding-top: 13%;
    }
  }
  /*
.wrapper-prize__picture {
  width: 100%;
  padding-top: 22%;
  }
  
  @media (min-width: 1024px) {
    .wrapper-prize__picture {
      padding-top: 13%;
    }
  }
*/

.wrapper-prize__content-mb {
  color: #ee2a27;
  font-size: 1.3em;
  padding-bottom: 2em;
}
.wrapper-prize__content-right {
  font-size: 18px;
  text-align: left;
  width: 50%;
  top: 20%;
  color: #ee2a27;
  position: absolute;
  }
  @media (min-width: 768px) {
    .wrapper-prize__content-right {
      font-size: 1.8em;
    }
  }
.wrapper-prize__content-left {
  font-size: 18px;
  text-align: right;
  width: 50%;
  top: 20%;
  right:0;
  color: #ee2a27;
  position: absolute;
  }
  @media (min-width: 768px) {
    .wrapper-prize__content-left {
      font-size: 1.8em;
    }
  }
  @media (min-width: 768px) {
    .prize_money {
      font-size: 1.8em;
    }
  }

/**
* end section prize
**/

/**
* start section library
**/
.content-wrap {
  padding-top: 15%;
  }
  @media (min-width: 768px) {
    .content-wrap {
      padding-top: 10%;
    }
  }
  @media (min-width: 1600px) {
    .content-wrap {
      padding-top: 13%;
    }
  }
.wrapper-library__title img {
  position: absolute;
  width: 75%;
  left: 20%;
  top: 3%;
  }
  @media (min-width: 320px) {
    .wrapper-library__title img {
      width: 55%;
    }
  }
  @media (min-width: 768px) {
    .wrapper-library__title img {
      width: 32%;
      left: 34%;
      top: 3%;
    }
  }
  @media (min-width: 1024px) {
    .wrapper-library__title img {
      width: 40%;
    }
  }

.library_story-content-wrapper {
  background: url(../images/mori/library-bg.jpg) no-repeat scroll center;
  /*width: 90%;*/
  width: 100%;
  height: 195px;
  position: relative;
  }
  @media (min-width: 768px) {
    .library_story-content-wrapper {
      height: 255px;
    }
  }
.library_story-content {
  text-align: justify;
  width: 100%;
  padding: 1em;
  font-size: 1.25em;
  color: #1b1b1b;
  }
  @media (min-width: 768px) {
    .library_story-content {
      text-align: justify;
      width: 100%;
      padding: 1em;
      font-size: 1.25em;
      color: #1b1b1b;
    }
  }
.library_slick-dots {
  display: inline-flex;
}
.library_slick-dots li button {
  border: 0;
  background: 0;
  font-size: 14px;
  }
  @media (min-width: 768px) {
    .library_slick-dots li button {
      font-size: 17px;
    }
  }
.library_slick-dots .slick-active button {
  border-bottom: solid;
}
#myModal .modal-content {
  background-color: #fffbcc;
}
#img_popup_title,#img_popup_story_title {
  font-size: 1.6em;
  color: #ee2a27;
}
#modalShowStory .modal-content {
  background-color: #fffbcc;
}
#content_popup_detail {
  font-size: 1.6em;
  text-align: left;
  color: #1b1b1b;
}
.product-picture-desc{
  width: 100% !important;
}
.owl-carousel img {
  width: 100% !important;
  max-height: 400px;
}
@media (min-width: 768px) {
  .owl-carousel img {
    max-height: 500px;
  }
}
@media (min-width: 1200px) {
  .owl-carousel img {
    max-height: 600px;
  }
}
/**
* end section library
**/
/**
* START section register
**/
#modalShowStory.modal, #registerModal.modal {
  text-align: center;
  padding: 0!important;
}

#modalShowStory.modal:before, #registerModal.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#registerModal  .modal-dialog, #modalShowStory  .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
#registerModal  .modal-content {
  background:none;
  border:none;
  border-radius:none;
  box-shadow:none;
  -webkit-box-shadow:0;
  -webkit-box-shadow:0;
  box-shadow:none;
}
.modal-body{
  -webkit-box-shadow: 0px 1px 5px 3px rgba(213,212,188,1);
  -moz-box-shadow: 0px 1px 5px 3px rgba(213,212,188,1);
  box-shadow: 0px 1px 5px 3px rgba(213,212,188,1);
  padding-top: 80px;
}
#registerModal .modal-body {
  background-color: #fff6d5;
  border-radius:6px;
}
.regist-img{
  position: absolute;
  width: 36%;
  left: -2.15%;
  top: -0.47%;
  }
  @media (max-width: 480px){
    .regist-img{
      width: 60%;
      top: -0.2%;
    }
  }
#registerModal .modal-header {
  border-bottom:0;
}
#registerModal button.close {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  }
  @media (min-width: 768px) {
    #registerModal button.close {
      right: -20px;
    }
  }
#registerModal .close span {
  font-size: 35px;
  color: #fff;
}
.register-info {
  display:none;
}
.register-info-btn-center {
  left: 85%;
  top: 5%;
  transform: translate(-50%, -5%);
}
.register-info-btn {
  display: block;
  position: relative;
  padding: .2em .5em .3em.5em;
  font-size: 1.2em;
  color: #fff;
  background: #f16687;
  width: 21%;
  border-radius: 5px;
  border: 2px solid #f16687;
  text-align: center;
 
  }
  @media (min-width: 375px) {
    .register-info-btn {
      /*left: 9em;*/
    }
  }
  @media (min-width: 414px) {
    .register-info-btn {
      /*left: 34%;*/
    }
  }
  @media (max-width: 480px){
    .register-info-btn{
      width: 40% !important;
    }
  }
  @media (min-width: 768px) {
    .register-info-btn {
      font-size: 1.6em;
    }
  }
  .register-info-btn:hover {
    color: #fff;}

.register-picture {
  display: none;
}
.register-picture-wrapper {
  display: flex !important;
}
.register-picture_right-content {
    width: 100%;
    text-align: center;
  }
  @media (min-width: 768px) {
    .register-picture_right-content {
      width:70%;
    }
  }
.register-picture_right-content_title {
    font-size: 2em;
    color: #ee2a27;
    padding-top: 0.1em;
    text-align:center;
  }
  @media (min-width: 768px) {
    .register-picture_right-content_title {
      padding-top: 0em;
    }
  }
.register-picture_right-content_upload {
  width: 22%;
  padding-bottom: 1em;
  padding-top: 1em;
  cursor: pointer;
}
.register-content {
  display: none;
}
.register-content-wrapper {
  display: flex !important;
}
  .register-content_right-content {
      width: 100%;
      padding-left: 2em;
    }
    @media (min-width: 768px) {
      .register-content_right-content {
        width:70%;
      }
    }
  .register-content_right-content_title {
      font-size: 1.6em;
      color: #ee2a27;
      padding-top: 0.1em;
    }
    @media (min-width: 768px) {
      .register-content_right-content_title {
        padding-top: 1em;
        font-size: 2.6em;
      }
    }
    @media (min-width: 768px) {
      .register-content_right-content_title {
        font-size: 2.4em;
      }
    }
  .register-content_right-content_upload {
    width: 15%;
    padding-bottom: 1em;
  }
  .register-content_btn_wrapper {
    display: inline-flex;
    padding-top: 1em;
  }
  .register-content_btn-content {
    left:0;
    width: auto;
    margin-left: .5em;
    font-size:1.6em;
  }
  @media (min-width: 768px) {
    .register-content_btn-content {
      font-size:1.8em;
    }
  }
.register-success {
  display:none;
}
.register-success-wrapper {
  display: inline-flex;
}
.register-success_right-content_title {
  font-size: 2em;
  color: #ee2a27;
  padding-top: 0.1em;
  }
  @media (min-width: 768px) {
    .register-success_right-content_title {
      padding-top: 3em;
      font-size: 2.6em;
    }
  }
  @media (min-width: 1200px) {
    .register-success_right-content_title {
      padding-top: .1em;
    }
  }
.register-hide {
  display: none !important;
}
.register-show {
  display: block !important;
}

.form-custom {
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-box-shadow: none;
  -webkit-transition: none;
  transition: none;
  transition: none;
  transition: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size:12px;
}
.form-group{
  border: 1px solid lightgray;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.form-custom:focus {
  border-color:#ee2a27;
  -webkit-box-shadow:none;
  box-shadow:none;
}
select { 
  -moz-appearance: none;
  -webkit-appearance: none;
}
select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}
select.minimal:focus {
  background-image:
    linear-gradient(45deg, #ee2a27 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #ee2a27 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: #ee2a27;
  outline: 0;
}
.err-upload-msg, .err-msg,.err-story-msg {
  font-size: 1.6em;
  color: red;
  text-algin:center;
}
.register-picture_right-content_filecustom {
  display:block;
}
#main_image {
  display:none;
}
#preview_img {
  width:40%;
  height:50%;
}
.register-picture_preview{
  display: contents;
}
.register-picture_preview img{
  padding: 5px;
  width: 80px;
  height: 80px;
}
#ablum_name {
  width: 70%;
  margin: auto;
}
#step_6_btn {
  left: 50%;
}
#step_2_btn {
  left: 50%;
  top: 0%;
}
/**
* END section register
**/
/**
* START section Success
**/
.register-success_btn {
  width: 50%;
}

@-webkit-keyframes _buyBtnAnm {
  0%, 90%, 100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  30% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); } }

@keyframes _buyBtnAnm {
  0%, 90%, 100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  30% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); } }
@-webkit-keyframes _buyBtnS {
  100% {
    transform: scale(0.9);
  }
}
#thu-vien-bai-thi .cat-nav{
  font-size: 1.1rem;
  }
  @media (min-width: 1024px){
    #thu-vien-bai-thi .cat-nav{
      font-size: 2.5rem;
    }
  }
#thu-vien-bai-thi .cat-nav li{
  font-size: 1.2em;
  padding-top: 4px;
  margin: 0 15px 0 15px !important;
  }
  @media (min-width: 480px){
    #thu-vien-bai-thi .cat-nav li{
      font-size: 0.85em;
      padding-top: 20px;
      margin: 0 5px 0 5px !important;
    }
  }
  @media (min-width: 568px){
    #thu-vien-bai-thi .cat-nav li{
      font-size: 1.3em;
      margin: 0 15px 0 15px !important;
    }
  }
  @media (min-width: 667px){
    #thu-vien-bai-thi .cat-nav li{
      font-size: 1.5em;
      margin: 0 15px 0 15px !important;
    }
  }
  @media (min-width: 768px){
    #thu-vien-bai-thi .cat-nav li{
      font-size: 1.5em;
      margin: 0 20px 0 20px !important;
    }
  }
  @media (min-width: 1024px){
    #thu-vien-bai-thi .cat-nav li{
      font-size: .8em;
      margin: 0 30px 0 30px !important;
    }
  }
#thu-vien-bai-thi .cat-list{
  width: 100% !important;
}
/*--Library-story--*/
.library-story{
  margin-top: 5%;
}
.library-story ul li{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.library-story ul li a{
  padding: 5px 15px;
}
.library-story-img{
  width: 20%;
  float: left;
  }
  @media (max-width: 480px){
    .library-story-img{
      width: 46.5%;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px){
    .library-story-img{
      width: 30%;
    }
  }
.library-story-img p {
  color: #666;
  font-family: Myriad Pro;
  font-size: 14px;
  }
  @media (min-width: 768px){
    .library-story-img p {
      font-size: 18px;
    }
  }
.library-story-img img{
  width: 74.5% !important;
  }
  @media only screen and (min-width: 1024px) and (max-width: 1270px){
    .library-story-img img{
      width: 71% !important;
    }
  }
  @media only screen and (min-width: 1271px) and (max-width: 1320px){
    .library-story-img img{
      width: 71.5% !important;
    }
  }
  @media only screen and (min-width: 1321px) and (max-width: 1375px){
    .library-story-img img{
      width: 72.5% !important;
    }
  }
  @media only screen and (min-width: 1376px) and (max-width: 1410px){
    .library-story-img img{
      width: 73% !important;
    }
  }
  @media only screen and (min-width: 1411px) and (max-width: 1475px){
    .library-story-img img{
      width: 73% !important;
    }
  }
  @media (min-width: 1476px){
    .library-story-img img{
      width: 74.5% !important;
    }
  }
.library-story-slideshow .slick-slide{
  padding-left: 55px !important;
  }
  @media (max-width: 480px){
    .library-story-slideshow .slick-slide{
      padding-left: 10px !important;
      /*width: 16.6% !important;*/
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px){
    .library-story-slideshow .slick-slide{
      padding-left: 15.5px !important;
      /* width: 16.6% !important;*/
    }
  }
.library-story-slideshow p{
  color: #666;
  text-transform: uppercase;
  font-family: Myriad Pro;
  font-size: 14px;
  padding-top: 5px;
  }
  @media (min-width: 768px){
    .library-story-slideshow p{
      font-size: 18px;
    }
  }
.library-story-slideshow .slick-next,.library-story-slideshow .slick-prev{
  position: absolute !important;
  z-index: 1 !important;
}
.library-story-slideshow .slick-prev{
  left: 20.5% !important;
  top: 48% !important;
  width: 50px !important;
  }
  @media (max-width: 480px){
    .library-story-slideshow .slick-prev{
      left: 43% !important;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px){
    .library-story-slideshow .slick-prev{
      left: 25.5% !important;
    }
  }
.library-story-slideshow .slick-next{
  right: -4.5% !important;
  top: 48% !important;
  width: 50px !important;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px){
    .library-story-slideshow .slick-next{
      right: -5.4% !important;
    }
  }
#banner .banner-list .banner-text, #banner .banner-list .banner-products{
  width: 40% !important;
  top: 22% !important;
  left: 29% !important;
}
.library-none-data {
  font-size: 16px;
}
.library-story-slideshow_item img {
  width: 172px;
  height: 172px;
  cursor: pointer;
  }
  @media (min-width: 768px){
    .library-story-slideshow_item img {
      width: 235px;
    }
  }
.library-story-slideshow_item img:hover {
  transition: all .2s ease-in-out;
}
.album-pagination {

}
.album-pagination a {
  font-size: 16px;
  cursor: pointer;
  padding-left: 10px;
}
.album-pagination a:hover {
  color: #ffdc2e;
  font-size: 20px;

}
.album-pagination a.active {
  color: #ffdc2e;
  font-size: 18px;
}
#model-list-image {
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
  padding-top:10px;
}
#model-list-image img {
  width: 100% !important;
  margin:auto;
  }
  @media (min-width: 768px){
    #model-list-image img {
      width: 100% !important;
    }
  }
/** pre next popup */
#model-list-image .owl-theme .owl-nav {
  position: absolute;
  width: 100%;
  top: 40%;
}
#model-list-image .owl-theme .owl-nav .owl-prev {
  font-size: 8em !important;
  float: left !important;
  color: #ffdc2e !important;
  }
  @media (min-width: 768px){
    #model-list-image .owl-theme .owl-nav .owl-prev {
      font-size: 10em !important;
    }
  }
#model-list-image .owl-theme .owl-nav .owl-next {
  font-size: 8em !important;
  float: right !important;
  color: #ffdc2e !important;
  }
  @media (min-width: 768px){
    #model-list-image .owl-theme .owl-nav .owl-next {
      font-size: 10em !important;
    }
  }
#model-list-image .owl-theme .owl-nav [class*="owl-"]:hover {
  background: unset !important;
}
/** END pre next popup */
/*--END Library-story--*/
/*--Thi-trung-bay_the-le--*/
.wrapper-rule{
  padding-top: 4% !important;
  position: relative !important;
}
.wrapper-rule__title img{
  width: 40% !important;
  position: absolute;
  left: 34% !important;
  top: 7% !important;
}
#wrapper_rule_content{
  height: 85.5% !important;
}
.wrapper-rule .desc{
  width: 97% !important;
  top: 8.5% !important;
  left: 0.4% !important;
  font-size: 1.3em;
  }
  @media (min-width: 768px){
    .wrapper-rule .desc{
      width: 96% !important;
    }
  }
.wrapper_rule_content_title{
  font-size: 1.8em !important;
  padding-left: 20px;
  }
  @media (max-width: 480px){
    .wrapper_rule_content_title{
      margin-top: 5px;
      font-size: 1em !important;
      /* padding-left: 43px;*/
      width: 100%;
      font-weight: 900;
    }
  }
.wrapper_rule_content_wrapper-content{
  padding-left: 90px;
  }
  @media (max-width: 480px){
    .wrapper_rule_content_wrapper-content{
      padding-left: 26px;
      font-size: 0.8em;
    }
  }
  @media (min-width: 768px){
    .wrapper_rule_content_wrapper-content{
      padding-left: 80px;
    }
  }
.wrapper_rule_content_wrapper-content b{
  font-size: 1.23em !important;
}
.content-padding{
  font-size: 1em !important;
}
/*--END Thi-trung-bay_the-le--*/
/*--Thi-trung-bay_giai-thuong--*/
.wrapper-prize{
  margin-top: 4%;
  background-color: #ffdc2e;
}
.container-90{
  width: 90%;
  margin: 0 auto;
}
/*
.wrapper-prize__title img{
  width: 70%;
  left: 50%;
  position: absolute !important;
  top: 4%;
  transform: translate(-50%, -4%);
  }
  @media (min-width: 480px){
    .wrapper-prize__title img{
      width: 55%;
      top: 2%;
      transform: translate(-50%, -2%);
    }
  }*/

.wrapper-prize__content-right{
  font-size: 1.4em !important;
  left: 22% !important;
  top: 39% !important;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px){
    .wrapper-prize__content-right{
      font-size: 1em !important;
    }
  }
.wrapper-prize__content-left{
  font-size: 1.4em;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px){
    .wrapper-prize__content-left{
      font-size: 1em !important;
    }
  }
.wrapper-prize__content-left{
  top: 39%;
  right: -15%;
  text-align: left !important; 
}
.wrapper-prize__content-left-trung-bay{
  color: #ee2a27;
  position: absolute;
  text-align: left;
  top: -2.5%;
  right: -15%;
  width: 50%;
  font-size: 1.4em;
}
/*--END Thi-trung-bay_giai-thuong--*/

/*--Thi-trung-bay_thu-vien--*/
.wrapper-library__title img{
  position: unset !important;
}
.wrapper-library__title{
  margin-bottom: 7%;
}
.content-wrap{
  padding-top: 0 !important;
}
/*--END Thi-trung-bay_thu-vien--*/

/*--Thi-kien-thuc_giai-thuong--*/
.wrapper-prize-kien-thuc{
  margin-top: 10%;
  background-color: #ffdc2e;
}
.wrapper-prize__picture-2{
  width: 60%;
  padding-top: 15%;
  padding-bottom: 5%;
  }
  @media (min-width: 480px){
    .wrapper-prize__picture-2{
      width: 75%;
      padding-top: 20%;
    }
  }
  @media (min-width: 568px){
    .wrapper-prize__picture-2{
      width: 50%;
      padding-top: 10%;
    }
  }
  @media (min-width: 667px){
    .wrapper-prize__picture-2{
      width: 55%;
      padding-top: 15%;
    }
  }
  @media (min-width: 768px){
    .wrapper-prize__picture-2{
      width: 26.7%;
    }
  }
  @media (min-width: 1024px){
    .wrapper-prize__picture-2{
      padding-top: 4%;
    }
  }
.wrapper-prize__content-left-kien-thuc{
  color: #ee2a27;
  position: absolute;
  text-align: left;
  top: 35%;
  right: -17%;
  width: 50%;
  font-size: 1.4em;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px){
    .wrapper-prize__content-left-kien-thuc{
      font-size: 1em;
    }
  }
.wrapper-prize__content-right-kien-thuc{
  color: #ee2a27;
  position: absolute;
  text-align: left;
  top: 35%;
  left: 25%;
  width: 50%;
  font-size: 1.4em;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px){
    .wrapper-prize__content-right-kien-thuc{
      top: 34%;
      left: 21%;
      font-size: 1em;
    }
  }
/*--END Thi-kien-thuc_giai-thuong--*/

/*--Tai-lieu-on-thi--*/
@media (min-width: 375px){
  .tab-cuoc-thi-ket-thuc {
    padding-left: 5%;
  }
}
@media (min-width: 414px){
  .tab-cuoc-thi-ket-thuc {
    padding-left: 9%;
  }
}
@media (min-width: 568px){
  .tab-cuoc-thi-ket-thuc {
    padding-left: 18%;
  }
}
@media (min-width: 768px){
  .tab-cuoc-thi-ket-thuc {
    padding-left: 13%;
  }
}
#tabs-kien-thuc li{
  font-weight: 800;
  cursor: pointer;
  outline: none !important;
  border-bottom: red solid 3px;
  margin-left: 1em;
  font-size: 1em;
  overflow: hidden;
  }
  @media (min-width: 480px){
    #tabs-kien-thuc li{
      margin-left: 1.15em;
      font-size: 1em;
    }
  }
  @media (min-width: 568px){
    #tabs-kien-thuc li{
      margin-left: 1.15em;
      font-size: 1em;
    }
  }
  @media only screen and (min-width: 768px) and (max-width:991px){
    #tabs-kien-thuc li{
      margin-left: 4em;
      font-size: 1.7em;
    }
  }
  @media (min-width: 1024px){
    #tabs-kien-thuc li{
      margin-left: 5em;
      font-size: 1.8em;
    }
  }
  @media (min-width: 1360px){
    #tabs-kien-thuc li{
      margin-left: 6em;
    }
  }
  @media (min-width: 1440px){
    #tabs-kien-thuc li{
      margin-left: 6.5em;
    }
  }
  @media (min-width: 1440px){
    #tabs-kien-thuc li{
      margin-left: 7em;
    }
  }
#tabs-kien-thuc li:last-child{
  margin-left: 5em;
  width: 30%;
}
.nav-tabs{
  border-bottom: unset !important;
}
.nav-tabs li a{
  border: unset !important;
  border-bottom-color: unset !important;
  color: #808080 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  color: #ee2a27 !important;
}
.nav > li > a:hover, .nav > li > a:focus{
  background-color: unset !important;
}
.tab-content a img{
  transition: transform .2s;
}
.tab-content a img:hover{
  transform: scale(1.05);
}
.wrapper-library__title-tai-lieu img{
  position: unset !important;
}
.wrapper-library__title-tai-lieu img {
  position: absolute;
  width: 75%;
  left: 20%;
  top: 3%;
  }
  @media (min-width: 768px) {
    .wrapper-library__title-tai-lieu img {
      width: 32%;
      left: 34%;
      top: 3%;
    }
  }
  @media (min-width: 768px) {
    .wrapper-library__title-tai-lieu img {
      width: 43%;
    }
  }
  @media (min-width: 1280px) {
    .wrapper-library__title-tai-lieu img {
      width: 35%;
    }
  }
.wrapper-library__title-tai-lieu{
  margin-bottom: unset;
}
.tab-pane a img{
  width: 75%;
}
 @media (max-width: 480px){
  .tab-pane a img{
    width: 100%;
  }
 }
 @media only screen and (min-width: 768px) and (max-width:991px){
  .tab-pane a img{
    width: 65%;
  }
 }
/*--END Tai-lieu-on-thi--*/
.cat-new-style{
  position: absolute;
  z-index: 10;
  top: 11%;
  left: 50%;
  font-size: 1em !important;
  transform: translate(-50%, -11%);
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  width: max-content;
  }
  @media (min-width: 480px){
    .cat-new-style{
      top: 4%;       
      transform: translate(-50%, -4%);
    }
  }
  @media (min-width: 568px){
    .cat-new-style{
      top: 10%;       
      transform: translate(-50%, -10%);
    }
  }
  @media (min-width: 768px){
    .cat-new-style{
      top: 10%;       
      transform: translate(-50%, -10%);
    }
  }
  @media (min-width: 1024px){
    .cat-new-style{
      top: 17%;
      font-size: 1.9em !important;
    }
  }
  @media (min-width: 2560){
    .cat-new-style{
      top: 15%;
    }
  }
/*progress Bar*/
#progressBar {
  width: 90%;
  margin: 10px auto;
  height: 22px;
  background-color: #fff;
  border:1px solid #ddd;
}
#progressBar div {
height: 100%;
text-align: right;
padding: 0;    /* remove padding */
line-height: 22px;
width: 0;
background-color: #CBEA00;
box-sizing: border-box;
overflow: visible;
}
.wrap-thong-tin-the-le{
  width: 100%;
}
.wrap-thong-tin-the-le img{
  width: 70%;
  }
  @media (min-width: 480px){
    .wrap-thong-tin-the-le img{
      width: 75%;
    }
  }
  @media (min-width: 768px){
    .wrap-thong-tin-the-le img{
      width: 43%;
    }
  }
  @media (min-width: 1280px){
    .wrap-thong-tin-the-le img{
      width: 30%;
    }
  }
  @media (min-width: 1680px){
    .wrap-thong-tin-the-le img{
      width: 28%;
    }
  }
  @media (min-width: 2560px){
    .wrap-thong-tin-the-le img{
      width: 21%;
    }
  }
/*--BXH--*/
.wrapper-desktop-bxh{
  display: none;
  }
  @media (min-width: 768px){
    .wrapper-desktop-bxh{
      padding-top: 3%;
      display: block;
    }
  }
.bxh-list{
  list-style: none;
  display: flex;
  width: 90%;
  margin: auto;
  font-size: 1em;
  color: #393939;
  }
  @media (min-width: 768px){
    .bxh-list{
      font-size: 1.5em;
    }
  }
.bxh-list li{
  width: 50%;
  text-align: left;
  }
  @media (min-width: 768px){
    .bxh-list li{
      width: 25%;
      text-align: unset;
    }
  }
.bxh-list-title li{
  font-family: Nunito;
  font-weight: bold;
  color: #ee2a27;
  text-transform: uppercase;
}
.bxh-list-title-mb{
  border-bottom: 1px solid #999;
}
.bxh-list-title-mb li:first-child{
  font-family: Nunito;
  font-weight: bold;
  color: #ee2a27;
  text-transform: uppercase;
  text-align: left;
  width: 50%;
  }
  @media (min-width: 375px){
    .bxh-list-title-mb li:first-child{
      width: 49%;
    }
  }
  @media (min-width: 414px){
    .bxh-list-title-mb li:first-child{
      width: 44%;
    }
  }
.bxh-list-text-left{
  text-align: left !important;
}
.wrapper-mb-bxh{
  display: block;
  }
  @media (min-width: 768px){
    .wrapper-mb-bxh{
      display: none;
    }
  }
.wrapper-mb-bxh_item{
  padding-top: 15px;
}
.bxh-filter .form-group {
  margin-top: 20px;
  width: 50%;
}
/*--BXH--*/
/** quiz contest**/
#quiz_step_3 {
  display:none;
}
#quiz_step_4 {
  display:none;
}
#btn_bxh {
  z-index:1;
}
#quiz_register_form {
  width: 90%;
  margin:auto;
  }
  @media (min-width: 768px) {
    #quiz_register_form {
      width: 70%;
      margin:auto;
      }
  }
#quiz_step_alert h4, #quiz_step_1 h4, #quiz_step_2 h4, #quiz_step_4 h4 {
  font-size: 20px;
  font-weight: bold;
  }
  @media (min-width: 768px) {
    #quiz_step_alert h4, #quiz_step_1 h4, #quiz_step_2 h4, #quiz_step_4 h4 {
      font-size: 30px;
    }
  }
#quiz_step_alert p, #quiz_step_1 p,#quiz_step_2 p, #quiz_step_4 p {
  font-size: 16px;
  }
  @media (min-width: 768px) {
    #quiz_step_alert p, #quiz_step_1 p, #quiz_step_2 p, #quiz_step_4 p {
      font-size: 20px;
    }
  }
.quiz-btn {
  width:60%;
  margin: auto;
  -webkit-animation: 20s _buyBtnAnm linear infinite;
  animation: 20s _buyBtnAnm linear infinite;
}
  @media (min-width: 768px) {
    .quiz-btn {
      width: 20%;
      margin: auto;
      font-size: 1.8em;
    }
  }
  .quiz-test-question {
    font-size: 20px;
    }
    @media (min-width: 768px) {
      .quiz-test-question {
        font-size: 25px;
        }
    }
  .quiz-test-title {
    font-size: 14px;
    }
    @media (min-width: 768px) {
      .quiz-test-title {
        font-size: 16px;
        }
    }
  @media (min-width: 768px) {
    .quiz-test {
      width: 70%;
      margin: auto;
    }
  }
  .quiz-test-answer {
    width:90%;
    margin:auto;
    text-align: left;
    }
    @media (min-width: 768px) {
      .quiz-test-answer {
        width:85%;
      }
    }

  .quiz-test-answer .radio {
    font-size: 12px;
    }
    @media (min-width: 768px) {
      .quiz-test-answer .radio {
        font-size: 14px;
        }
    }
  .radio input[type="radio"] {
    margin-left: unset;
  }

  @media (min-width: 768px) {
    .radio label, .checkbox label {
      min-height: 14px;
      text-align: left;
    }
  }
  .question-answer__ans {
    width:90%;
  }
.btn-answer-wrapper {
  padding-bottom: 2em;
  padding-top: 1em;
}
.btn-answer {
  width: 30%;
  display: inline;
  cursor: pointer;
  position: relative;
  padding: .2em .5em .3em.5em;
  font-size: 1.4em;
  margin-left: 1em;
  color: #fff; }
  @media (min-width: 768px) {
    .btn-answer {
      padding: .3em 1em .4em;
      font-size: 1.8em;
    }
  }
  .btn-answer:hover {
    color: #fff;}
  .btn-answer:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ec2026;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 25px;
    border: 2px solid #ec2026;
    z-index: -1; }
  .btn-answer:hover:before {
    background: #be0801; }
    
  .btn-answer-finish.btn-answer:before {
    background: #f6d325;
    border: 2px solid #debb0d;
  }
  .btn-answer-finish.btn-answer:hover:before {
    background: #debb0d; }
  .quiz-err-msg {
    font-size: 16px;
    color: red;
  }
  .err-filter-msg {
    font-size: 12px;
    color: red;
  }
/**END quiz contest**/